
.navbar {
  color: white;
  background: rgba(6, 4, 4, 0.5);
}
.container{
  color: white;
  background: rgba(6, 4, 4, 0.5);
}

.App {
  background: url(https://images.pexels.com/photos/144428/pexels-photo-144428.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center;
  padding-bottom:75px; 
  height: 100%;
}
i{
  cursor: pointer;
}